body{
	font-family: georgia;
}

#trattoria {
	color:red;font-size:18px; 
}

#trattoria span {
	font-size:18px;color:black; 
}

#PastaBlitz {
	font-weight:bold;font-size:	18px;  
}

#ILBASILICO {
	font-weight:Bold;font-size: 60px  
}

.toolbar {
	background-color:#56743f;font-size: 20px;
}

